/* Page Header Styles */

@use "../../assets/theme" as *;

$header_height:  64px;

header#main-header{
    svg.icon{
        width: 16px;
        height: auto;
        path{
            fill: $theme_brown;
        }
    }
    ul{
        margin: 0;
        padding: 0;
    }
    h4#notice-header{
        margin: 0;
        padding: 8px 16px;
        background: $theme_peach;
        color: $theme_white;
    }

    nav.main-menu-nav{
        font-weight: 600;
        height: $header_height;
        padding: 0 $page_margin;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        @media (max-width: 500px){
            padding: 16px;
        }
        @media (max-width: 800px){
            padding-top: 16px;
            height: auto;
            flex-wrap: wrap;
        }
        a{
            font-size: 16px;
            text-decoration: none;
            color: $theme_brown;
            transition: $transition;
            &:hover{
                color: $theme_peach;
                svg path{
                    fill: $theme_peach;
                }
            }
        }
        ul.navigation-menu{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            @media (max-width: 500px){
                display: none;
            }
            @media (max-width: 800px){
                width: 100%;
                justify-self: center;
                order: 3;
                flex-wrap: wrap;
            }
            &>li{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-transform: capitalize;
                /* show sub-menu on wide screens on hover */
                &:hover ul.subnav{
                    @media (min-width: 1200px){
                        visibility: visible;
                        opacity: 1;
                    }
                }
                /* ^^^^^^^^^^^^^^^^^^^^^^^ */
                a{
                    position: relative;
                    padding: 0 20px;
                    height: $header_height;
                    display: flex;
                    align-items: center;
                    justify-items: center;
                }
                ul.subnav{
                    padding: 48px;
                    background: $theme_white;
                    border-radius: 16px;
                    position: absolute;
                    top: $header_height;
                    box-shadow: $box_shadow;
                    display: none;
                    /* Hide element by default */
                    visibility: hidden;
                    opacity: 0;
                    transition: $transition;
                    /* ^^^^^^^^^^^^^^^^^^^^^^^ */
                    @media (min-width: 1200px){
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 24px;
                        padding: 48px;
                    }
                    li.sub-nav-item{
                        display: flex;
                        flex-direction: column;
                        div.card-image{
                            width: 240px;
                            aspect-ratio: 1/1;
                            background: red;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 16px;
                            transition: $transition;
                            &:hover{
                                box-shadow: $box_shadow;
                                transform: scale(1.01);
                            }
                        }
                        img{
                            width: 80%;
                            height: auto;
                            object-fit: contain;
                        }
                        a{
                            padding: 16px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            text-decoration: none;
                            text-transform: capitalize;
                            span:first-child{
                                font-size: 24px;
                                font-weight: 600;
                                //line-height: 1.5;
                            }
                            span:last-child{
                                display: flex;
                                align-items: center;
                                line-height: 24px;
                                gap: 8px;
                            }
                        }
                    }
                }
            }
        }
        #utility{
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
}
