/* Page Footer Styles */

@use "../../assets/theme" as *;

footer#page-footer{
    padding: 16px;
    background: $theme_brown;
    color: $theme_white;
    div.links-container{
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .footer-link{
            display: flex;
            gap: 8px;
            align-items: center;
            color: $theme_white;
            text-decoration: none;
            svg.icon {
                width: 16px;
                height: 16px;
                path{
                    fill: $theme_white;
                }
            }
            &:hover{
                color: $theme_green_pale;
                svg.icon path{
                    fill: $theme_green_pale;
                }
                &#j8ahmed-link, &#github-link{
                    color: $theme_teal;
                    svg.icon path{
                        fill: $theme_teal;
                    }
                }
            }
        }
    }
}
