/* HomePage Styles */

@use "../../assets/theme" as *;

main#homepage-container{
    min-height: 80vh;
    section{
        max-width: $max_width;
        margin: auto;
        padding: 64px 32px;
        h2{
            font-size: 32px;
            font-weight: 600;
            line-height: 1.2;
            text-align: center;
            color: $theme_brown;
            margin: 0;
            margin-bottom: 32px;
        }
    }
    section.hero{
        width: 100%;
        padding: 32px 16px;
        @media (min-width: 800px){
            padding: 64px 32px;
        }
        @media (min-width: 1200px){
            padding: 64px;
        }
        //min-height: 80vh;
        background: $theme_pink url('https://ouch-cdn2.icons8.com/hxxz5Qr551KY1597yq-mz9zWRTkAT-cob5eZ8UreBBo/rs:fit:368:338/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzcy/L2UxYjU4YWUwLTc3/YjQtNGQ1OC05NjJl/LWUzODQ1Y2IyYzBi/Ny5wbmc.png') no-repeat center right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        grid-gap: 48px;
        display: inline-flex;
        background-position: 90% 70%;
        @media (max-width: 800px){
            background-position: 50vw 100%;
        }
        h1{
            text-align: left;
            font-size: 56px;
            font-weight: 600;
            color: $theme-brown;
            width: 50%;
            @media (max-width: 500px){
                font-size: 48px;
                width: 80%;
            }
            @media (min-width: 500px){
                width: 60%;
            }
            span{
                white-space: nowrap;
            }
        }
        .btn-group{
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            @media (max-width: 600px){
                flex-direction: column;
            }
        }
    }
    section#products{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul.shop-pets{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            justify-content: center;
            gap: 24px;
            @media(max-width: 400px){
                grid-template-columns: 1fr;
            }
            @media(min-width: 1000px){
                display: flex;
            }
            li.card-large{
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 16px;
                &.light{
                    color: $theme_white;
                }
                &.dark{
                    color: $theme_brown;
                }
                border-radius: 16px;
                box-shadow: $shadow;
                cursor: pointer;
                transition: $transition;
                &:hover{
                    transform: scale(1.01);
                    box-shadow: $shadow_hover;
                }
                ul{
                    padding: 0 40px 40px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.5;
                    text-transform: capitalize;
                    text-align: left;
                    li{
                        font-size: 14px;
                        line-height: 32px;
                        &:last-of-type{
                            margin-bottom: 40px;
                        }
                        a{
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                    button{
                        margin-top: auto;
                    }
                }
            }
        }
    }
    section#services-section{
        ul.services{
            margin: 0;
            padding: 0;
            list-style: none;
            display: grid;
            gap: 24px;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            @media(max-width: 400px){
                grid-template-columns: 1fr;
            }
            li.card-wide{
                position: relative;
                overflow: hidden;
                display: flex;
                border-radius: 16px;
                background: $theme_white;
                box-shadow: $shadow;
                color: $theme_brown;
                cursor: pointer;
                transition: $transition;
                &:hover{
                    box-shadow: $shadow_hover;
                    transform: scale(1.01);
                }
                @media(max-width: 400px){
                    flex-direction: column;
                }
                & > *{
                    flex: 1;
                }
                div.card-image{
                    @media(min-width: 400px){
                        width: 50%;
                    }
                }
                a{
                    text-decoration: none;
                    color: $theme_brown;
                }
                ul{
                    padding: 40px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.5;
                    text-transform: capitalize;
                    text-align: left;
                    span.subtitle{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1.4;
                        margin-bottom: 24px;
                    }
                    li{
                        width: 100%;
                        display: flex;
                        gap: 24px;
                        justify-content: space-between;
                        font-size: 14px;
                        line-height: 32px;
                        list-style: none;
                        &:last-of-type{
                            margin-bottom: 40px;
                        }
                        span{
                            white-space: nowrap;
                        }
                        a{
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                    button{
                        margin-top: auto;
                    }
                }
            }

        }
    }
}

div.card-image{
    position: relative;
    aspect-ratio: 3/2;
    img{
        width: 80%;
        height: 80%;
        position: absolute;
        object-fit: contain;
        inset: 50% 50%;
        transform: translate(-50%, -50%);
    }
}

button {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 24px;
    border-radius: 48px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        color: $theme_white;
        border: 2px solid $theme_peach;
        background: $theme_peach;
        transition: $transition;
        box-shadow: $shadow_hover;
        svg path{
            fill: $theme_white;
            transition: $transition;
        }
    }
    &.light{
        background: none;
        color: $theme_white;
        border: 2px solid $theme_white;
        svg path{
            fill: $theme_white;
        }
        &:hover {
            background: $theme_white;
            border: 2px solid $theme_white;
            color: $theme_brown;
            svg path{
                fill: $theme_brown;
            }
        }
    }
    &.btn-outline-dark{
        color: $theme_brown;
        background: none;
        border: 2px solid $theme_brown;
        &:hover {
            color: $theme_white;
            background: $theme_peach;
            border: 2px solid $theme_peach;
            svg path{
                fill: $theme_white;
            }
        }
    }
    &.dark{
        color: $theme_brown;
        background: none;
        border: 2px solid $theme_brown;
        &:hover {
            color: $theme_white;
            background: $theme_brown;
            border: 2px solid $theme_brown;
            svg path{
                fill: $theme_white;
            }
        }
    }
    &.btn-filled-dark {
        color: $theme_white;
        background: $theme_brown;
        border: 2px solid $theme_brown;
        svg path{
            fill: $theme_white;
        }
        &:hover {
            color: $theme_white;
            background: $theme_peach;
            border: 2px solid $theme_peach;
            svg path{
                fill: $theme_white;
            }
        }
    }
}





